@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Myeongjo&display=swap");

body {
  -ms-overflow-style: none;
  font-family: "Jua", sans-serif;
  font-family: "Nanum Myeongjo", serif;
}

::-webkit-scrollbar {
  display: none;
}
